.crop-slider {
    -default-thumb: #8996e0;
    -default-track: #CCCCCC;
    -default-trim-start: #89e0c0;
    -default-trim-end: #edafb7;
}

.crop-slider .track,
.crop-slider:vertical .track {
    -fx-background-color: -default-track;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0.0;
    -fx-pref-width: 2.0px;
    -fx-pref-height: 2.0px;
}

.crop-slider .thumb,
.crop-slider:focused .thumb {
    -fx-background-color: -default-thumb;
    -fx-background-radius: 20.0;
    -fx-background-insets: 0.0;
}

.crop-slider .thumb:hover {
    -fx-background-color: derive(-default-thumb, 20.0%);
}

.crop-slider .colored-track {
    -fx-background-color: -default-thumb;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0.0;
}

.crop-slider .slider-value {
    -fx-stroke: WHITE;
    -fx-font-size: 10.0;
}

.crop-slider .trim-start,
.crop-slider .trim-end {
    -fx-marker-width: 10.0px;
    -fx-marker-height: 20.0px;
    -fx-effect: innershadow(two-pass-box, derive(-fx-fill, 60.0%), 4.0, 1.0, -0.0, 0.0);
}

.crop-slider .trim-start {
    -fx-fill: -default-trim-start;
}

.crop-slider .trim-end {
    -fx-fill: -default-trim-end;
}

.crop-slider .trim-start:hover, .crop-slider .trim-start:pressed {
    -fx-marker-width: 12.5px;
    -fx-marker-height: 25.0px;
    -fx-fill: derive(-default-trim-start, 30.0%);
}

.crop-slider .trim-end:hover, .crop-slider .trim-end:pressed {
    -fx-marker-width: 12.5px;
    -fx-marker-height: 25.0px;
    -fx-fill: derive(-default-trim-end, 30.0%);
}

.crop-slider .animated-thumb {
    -fx-pref-width: 50.0px;
    -fx-pref-height: 50.0px;
    -fx-background-color: -default-thumb;
    -fx-background-radius: 50.0% 50.0% 50.0% 0.0%;
    -fx-background-insets: 0.0;
}

.crop-slider:min .thumb,
.jfx-slider:min:focused .thumb {
    -fx-background-color: -default-thumb;
    -fx-background-radius: 20.0;
    -fx-background-insets: 0.0;
}

.crop-slider:min .animated-thumb {
    -fx-background-color: -default-thumb;
    -fx-background-radius: 50.0% 50.0% 50.0% 0.0%;
    -fx-background-insets: 0.0;
}
